.arrow {
  width: 20px;
  display: inline-block;
  text-align: center;
  color: #ccc;
}

.folderIcon {
  width: 20px;
  height: 20px;
  display: flex;
  vertical-align: middle;
  padding-right: 1.5px;
  position: relative;
  top: -1.5px;
}

.fileIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1px;
  position: relative;
  top: -2px;

  svg {
    width: 20px;
    height: 20px;
  }
}

/* 폴더 스타일 */
.folder {
  display: flex;
  align-items: center;
  color: #cccccc;
  white-space: nowrap; // 폴더명 줄 바꿈 방지
  overflow: hidden;
  text-overflow: ellipsis; // 너무 길 경우 ... 처리
  max-width: 100%; // 부모 요소 너비를 초과하지 않도록 설정
}

/* 파일 스타일 */
.file {
  color: #cccccc;
  white-space: nowrap; // 파일명 줄 바꿈 방지
  overflow: hidden;
  text-overflow: ellipsis; // 너무 길 경우 ... 처리
  max-width: 100%; // 부모 요소 너비를 초과하지 않도록 설정
}

////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
  .arrow {
  }

  .folderIcon {
  }

  .fileIcon {

    svg {

    }
  }

  .folder {
  }

  .file {
  }
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .arrow {
    width: 13px;
  }

  .folderIcon {
    width: 13px;
    height: 13px;
  }

  .fileIcon {

    svg {
      width: 13px;
      height: 13px
    }
  }

  .folder {
  }

  .file {
  }
}