/* Markdown 스타일 */
.markdown {
  width: 100%;
  max-width: 100%;
  padding: 13px 14px;
  color: #d4d4d4;
  font-size: 1rem;
  line-height: 1.2;
  font-family: "JetBrains Mono", "Fira Code", "Consolas", "Menlo", "monospace";
  white-space: pre-wrap;
  word-break: break-word;
}

/* 제목 스타일 */
.markdown h1 {
  font-size: 1.6rem;
  font-weight: bold;
  color: #e06c75;
  border-bottom: 4px solid #3a3f4b;
  padding-bottom: 6px;
}

.markdown h2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #d19a66;
  border-bottom: 2px solid #3a3f4b;
  padding-bottom: 5px;
}

/* 목록 스타일 */
.markdown ul {
  padding-left: 15px;
  list-style-type: disc;
}

.markdown ol {
  padding-left: 15px;
  list-style-type: decimal;
}

/* 코드 블록 스타일 */
.markdown pre {
  background: #1e1e1e;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
  font-size: 0.85rem;
  color: #ffffff;
  line-height: 1.35;
}

/* 인라인 코드 스타일 (`code`) */
.markdown code {
  font-family: "JetBrains Mono", "Fira Code", "Consolas", "Menlo", "monospace";
  background: #3a3f4b;
  border-radius: 3px;
  color: #abb2bf;
}

/* 코드 블록 내부의 코드 (`pre > code`) */
.markdown pre code {
  background: none;
  padding: 0;
  color: #ffffff;
  display: block;
}

/* 블록 인용 스타일 */
.markdown blockquote {
  margin: 10px 0;
  padding: 8px 16px;
  border-left: 3px solid #d19a66;
  background: #2c2c2c;
  color: #bbb;
  font-style: italic;
}

.markdown img {
  max-width: 80%; /* 부모 컨테이너 기준으로 최대 크기 조정 */
  height: auto; /* 비율 유지 */
  display: block; /* 인라인 속성 제거 */
  margin: 20px auto; /* 가운데 정렬 */
  border-radius: 5px; /* 둥근 테두리 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.floatingButtons {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 10px;
  z-index: 9998;
  pointer-events: none;
}

.floatingButtons > * {
  pointer-events: auto;
}

////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
  .markdown {
  }

  .markdown h1 {
  }

  .markdown h2 {
  }

  .markdown ul {
  }

  .markdown ol {
  }

  .markdown pre {
  }

  .markdown code {
  }

  .markdown pre code {
  }

  .markdown blockquote {
  }

  .markdown img {
  }
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .markdown {
    padding: 1px 1px;
    font-size: 0.75rem;
    line-height: 1.05;
  }

  .markdown h1 {
    font-size: 1.3rem;
  }

  .markdown h2 {
    font-size: 1rem;
  }

  .markdown ul {
    padding-left: 10px;
  }

  .markdown ol {
    padding-left: 10px;
  }

  .markdown pre {
    font-size: 0.65rem;
    line-height: 1.25;
  }

  .markdown code {
  }

  .markdown pre code {
  }

  .markdown blockquote {
  }

  .markdown img {
  }
}