.header {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #3a3f4b;
}

.title {
  font-size: 2.5rem;
  color: #e06c75;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.2rem;
  color: #abb2bf;
  margin-bottom: 1rem;
}

.meta {
  display: flex;
  gap: 1rem;
  color: #7f848e;
  margin-bottom: 1rem;
}

.author {
  &:before {
    content: "작성자: ";
  }
}

.date {
  &:before {
    content: "작성일: ";
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background: none;
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  background-color: rgba(42, 224, 217, 0.86);;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
    transform: translateY(-1px);
  }
}

////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .meta {
    flex-direction: column;
    gap: 0.5rem;
  }

  .tag {
    font-size: 0.7rem;
    padding: 0.2rem 0.6rem;
  }
}