.postHeader {
  padding-bottom: 1rem;
  border-bottom: 3px solid #cccccc;
  margin-bottom: 3rem;
}

.title {
  color: #ffffff !important;
  border-bottom: 0 !important;
  font-size: 3rem !important;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  font-size: 2rem;
  color: #b0b0b0;
  margin-bottom: 12px;
}

.meta {
  display: flex;
  gap: 10px;
  font-size: 1.3rem;
  color: #aaaaaa;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  font-size: 1rem;
  gap: 6px;
}

.tag {
  background: rgba(255, 255, 255, 0.1);
  color: #4af6b6;
  padding: 3px 5px;
  border-radius: 8px;
  font-size: 1rem;
}

////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
  .postHeader {
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 2rem;
  }

  .title {
    font-size: 2rem !important;
    margin-bottom: 5px;
  }

  .description {
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  .meta {
    gap: 8px;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .tags {
    gap: 3px;
  }

  .tag {
    padding: 3px 5px;
    border-radius: 8px;
    font-size: 0.7rem;
  }
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .postHeader {
    padding-bottom: 0.35rem;
    border-bottom: 3px solid #cccccc;
    margin-bottom: 1.5rem;
  }

  .title {
    font-size: 1.6rem !important;
  }

  .description {
    font-size: 1rem;
  }

  .meta {
    font-size: 0.8rem;
  }

  .tags {
    font-size: 0.8rem;
  }

  .tag {
    font-size: 0.6rem;
  }
}