.postHeader {
  padding-bottom: 1rem;
  border-bottom: 3px solid #cccccc;
  margin-bottom: 3rem;
}

.title {
  color: #ffffff !important;
  border-bottom: 0 !important;
  font-size: 2.3rem !important;
  font-weight: bold;
  margin-bottom: 8px;
}

.description {
  font-size: 1rem;
  color: #b0b0b0;
  margin-bottom: 12px;
}

.meta {
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
  color: #aaaaaa;
  margin-bottom: 12px;
}

.tags {
  display: flex;
  font-size: 0.8rem;
  gap: 6px;
}

.tag {
  background: rgba(255, 255, 255, 0.1);
  color: #4af6b6;
  padding: 3px 5px;
  border-radius: 8px;
  font-size: 12px;
}

////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
  .postHeader {
  }

  .title {
  }

  .description {
  }

  .meta {
  }

  .tags {
  }

  .tag {
  }
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .postHeader {
  }

  .title {
  }

  .description {
  }

  .meta {
  }

  .tags {
  }

  .tag {
  }
}