.tocHeader {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  gap: 10px; /* 아이콘과 텍스트 사이 간격 */
  margin-bottom: 10px;
  white-space: nowrap; /* 줄바꿈 방지 */
}

.tocText {
  font-weight: bold;
  font-size: 1.2rem;
  color: #CCCCCC;
}

.tocWrapper {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 330px;
  z-index: 100;
  opacity: 0.3;
  transition: opacity 0.5s ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}

.visible {
  opacity: 1;
}

.tocBox {
  background: rgb(93 65 94 / 65%);
  padding: 10px;
  border-radius: 8px;
  backdrop-filter: blur(3px);
  color: #d4d4d4;
  font-size: 0.85rem;
  min-height: 15vh;
  max-height: 35vh;
  overflow-y: auto;
}

.tocBox strong {
  display: block;
  margin-bottom: 8px;
}

.tocBox ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tocBox li {
  margin-bottom: 4px;
}

.tocBox a {
  color: #d4d4d4;
  text-decoration: none;
  cursor: pointer;
  display: block;
  border-radius: 4px;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.level1 {
  font-weight: bold;
}

.level2 {
  padding-left: 15px;
}

.level3 {
  padding-left: 30px;
}

////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
  .tocHeader {
    gap: 8px; /* 아이콘과 텍스트 사이 간격 */
    margin-bottom: 5px;
  }

  .tocText {
    font-size: 1rem;
  }

  .tocWrapper {
    top: 5px;
    right: 5px;
    width: 270px;
    opacity: 0.3;
  }

  .tocBox {
    padding: 8px;
    font-size: 0.75rem;
    min-height: 13vh;
    max-height: 28vh;
    overflow-y: auto;
  }

  .level2 {
    padding-left: 13px;
  }

  .level3 {
    padding-left: 26px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .tocWrapper {
    top: 5px;
    right: 5px;
    width: 180px;
    opacity: 0.75;
  }

  .tocBox {
    font-size: 0.65rem;
    padding: 6px;
    min-height: 10vh;
    max-height: 20vh;
  }

  .level2 {
    padding-left: 10px;
  }

  .level3 {
    padding-left: 20px;
  }
}