/* 컨트롤 전체 레이아웃 */
.categoryControl {
  padding: 10px;
}

/* 버튼과 검색창을 같은 줄에 배치 */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  .categoryControl:hover & {
    opacity: 1;
  }

  /* 검색어가 입력된 상태에서는 항상 보이도록 설정 */
  &.hasSearchQuery {
    opacity: 1;
  }
}

/* 아이콘 버튼 (돋보기, 폴더 열기/닫기 등) */
.iconButton {
  background: none;
  border: none;
  color: #cccccc;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #ffffff;
  }
}

/* 검색 입력창 (돋보기 클릭 전에는 숨김) */
.searchInput {
  background: #444;
  border: none;
  color: white;
  padding: 5px;
  margin-right: 10px;
  border-radius: 10px;
  width: 0;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;

  /* 모바일 환경에서 확대 방지 */
  touch-action: manipulation;
  font-size: 16px !important;

  &.searchActive {
    width: 100%;
    opacity: 1;
  }

  &:focus {
    outline: none;
    background: #555;
    font-size: 16px !important;
  }
}

/* 검색창 활성화 시 표시 */
.searchActive {
  display: block;
}

/* 버튼 그룹을 오른쪽 정렬 */
.actionButtons {
  display: flex;
  gap: 1rem;
}

////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
  /* 컨트롤 전체 레이아웃 */
  .categoryControl {
    padding: 5px;
  }

  /* 버튼과 검색창을 같은 줄에 배치 */
  .controls {
    opacity: 0;

    .categoryControl:hover & {
      opacity: 1;
    }

    /* 검색어가 입력된 상태에서는 항상 보이도록 설정 */
    &.hasSearchQuery {
      opacity: 1;
    }
  }

  /* 아이콘 버튼 (돋보기, 폴더 열기/닫기 등) */
  .iconButton {
    padding: 1px;
  }

  /* 검색 입력창 (돋보기 클릭 전에는 숨김) */
  .searchInput {
    padding: 3px;
    margin-right: 5px;
    opacity: 0;
    font-size: 13px;

    &:focus {
      outline: none;
      background: #555;
      font-size: 13px;
    }
  }

  /* 버튼 그룹을 오른쪽 정렬 */
  .actionButtons {
    display: flex;
    gap: 0.2rem;
  }
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .categoryControl {
    padding: 1px;
  }

  .controls {
    opacity: 1;
  }

  /* 아이콘 버튼 (돋보기, 폴더 열기/닫기 등) */
  .iconButton {
    padding: 1px;
  }

  .searchInput {
    &.searchActive {
      width: 100%;
      font-size: 16px !important;
    }

    padding: 5px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    max-height: 30px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    /* 모바일 환경에서 확대 방지를 위한 추가 속성 */
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
}