.aside {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 0 1rem;

  &-profile {
    position: relative;
    z-index: 0;
  }

  &-thumb {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: var(--rounded-full);
    mix-blend-mode: plus-lighter;
    filter: grayscale(50%);
  }

  &-title {
    font-size: var(--text-2xl);
    font-style: italic;
    font-weight: 900;
    text-align: center;
    text-indent: -3px;
    color: hsla(var(--primary-color));
  }

  &-comment {
    font-weight: 200;
    opacity: 0.6;
  }

  &-keyword {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    li {
      padding: 0.25rem 0.5rem;
      border-radius: var(--rounded-3xl);
      background-color: hsla(var(--zinc-300));
      font-size: 10px;
      transition: all 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
      cursor: default;
    }
  }

  &-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem 1rem;
    width: 100%;
    margin-top: 1rem;

    a {
      flex: 0 0 calc(50% - 0.5rem);
      max-width: 120px;
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      height: 1.5rem;
      padding: 0.5rem 0.5rem 0.5rem 2rem;
      border-radius: var(--rounded-md);
      color: hsl(var(--zinc-100));
      overflow: hidden;
    }

    &-logo {
      position: absolute;
      left: -0.2rem;
      top: 50%;
      width: 2rem;
      height: 2rem;
      color: hsla(var(--zinc-100), 80%);
      opacity: 0.3;
      transform: translateY(-50%);
    }

    span {
      position: relative;
      z-index: 1;
      font-size: var(--text-xs);
    }

    &-arrow {
      width: 1rem;
      height: 1rem;
      margin-left: auto;
    }

    &-tistory {
      background-color: #eb511e;
    }

    &-github {
      background-color: #24292e;
    }

    &-linkedin {
      background-color: #0a66c2;
    }

    &-insta {
      background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    }
  }
}

@media all and (min-width: 768px) {
  .aside {
    max-width: 300px;
    justify-content: center;
    position: sticky;
    top: 50%;
    left: 0;
    bottom: 0;
    padding: 3rem 1rem 1rem;
    background-color: hsla(var(--zinc-100), 50%);
    border-radius: var(--rounded-4xl);
    transform: translateY(-50%);

    &-thumb {
      width: 130px;
      height: 130px;
    }

    &-title {
      font-size: var(--text-4xl);
    }

    &-keyword {
      li {
        &:hover {
          transform: scale(1.4);
          background-color: hsla(var(--primary-color));
          color: hsla(var(--teal-50));
        }
      }
    }

    &-link {
      gap: 0.5rem;

      a {
        width: 100%;
        height: 2rem;
        border-radius: var(--rounded-xl);
        font-size: var(--text-sm);
        opacity: 0.9;
        filter: saturate(0.6);
      }

      &-logo {
        left: -0.25rem;
        width: 3rem;
        height: 3rem;
        opacity: 0.4;
      }

      a:hover {
        opacity: 1;
        filter: saturate(1);
      }
    }
  }
}
