.category {
  margin: 1rem;
  font-family: Arial, sans-serif;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .categoryList {
    list-style-type: none;
    padding-left: 0.5rem;
  }

  .categoryItem {
    margin: 0rem 0;
    padding-left: 0.5rem; /* 들여쓰기 */
    position: relative;
  }

  .categoryTitle {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    font-weight: bold;
  }

  .toggleIcon {
    font-size: 0.7rem;
    cursor: pointer;
  }

  .folderIcon {
    font-size: 0.7rem;
  }

  .subCategoryList {
    list-style-type: none;
    padding-left: 0.5rem; /* 하위 요소 들여쓰기 */
  }

  .mdLink {
    font-size: 0.8rem;
    color: #ffffff;
    text-decoration: underline;
    margin-left: 0.5rem;
  }
}