/* 로그 목록 (스크롤 적용) */
.logContainer {
  flex-grow: 1;
  overflow-y: auto;
  background: #222;
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  font-family: monospace;
  height: 100%;
}


////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
  .logContainer {
    padding: 7px;
    font-size: 0.8rem;
  }
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .logContainer {
    padding: 5px;
    font-size: 0.7rem;
  }
}