/* 로그 목록 (스크롤 적용) */
.logContainer {
  flex-grow: 1;
  overflow-y: auto;
  background: #222;
  color: #fff;
  padding: 10px;
  font-size: 1rem;
  font-family: monospace;
  height: 100%;
}

/* 로그 항목 */
.logItem {
  margin-bottom: 5px;
  line-height: 1.4;
}

/* 타임스탬프 */
.timestamp {
  color: #888;
}

/* 파일 링크 */
.fileLink {
  color: #72ccee;
  text-decoration: none;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
    color: #9cdcf3;
  }
}

////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
  .logContainer {
    padding: 7px;
    font-size: 0.8rem;
  }
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .logContainer {
    padding: 5px;
    font-size: 0.7rem;
  }
}