/* 내비게이션 영역 */
.navigationView {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 80px;
  background-color: #323232;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 1rem;
  border-right: 1px solid #000;
}

/* 내비게이션 버튼 컨테이너 */
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* 개별 버튼 스타일 */
.navButton {
  color: #a9b7c6 !important;
  padding: 2px !important;
  border-radius: 5px !important;
  transition: background 0.4s, transform 0.4s !important;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    transform: scale(1.1);
  }

  &.active {
    background-color: rgba(255, 255, 255, 0.2) !important;
    transform: scale(1.1);
  }

  /* SVG 크기 조절 */
  svg {
    width: 3.5rem;
    height: 3.5rem;
  }
}


////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
  /* 내비게이션 영역 */
  .navigationView {
    width: 60px;
    padding: 0.8rem 0.8rem;
  }

  /* 내비게이션 버튼 컨테이너 */
  .navigation {
    gap: 0.8rem;
  }

  /* 개별 버튼 스타일 */
  .navButton {
    padding: 1px !important;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1) !important;
      transform: scale(1.1);
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.2) !important;
      transform: scale(1.1);
    }

    /* SVG 크기 조절 */
    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .navigationView {
    width: 35px;
    padding: 10px 5px;
  }

  .navigation {
    gap: 10px;
  }

  .navButton {
    padding: 1px !important;

    &:hover {
    }

    &.active {
    }

    /* SVG 크기 조절 */
    svg {
      width: 18px;
      height: 18px;
    }
  }
}