/* 로그 전체 영역 */
.logView {
  display: flex;
  flex-direction: column;
  height: 250px;
  background-color: #444;
  position: fixed;
  bottom: 0;
  left: 60px;
  right: 0;
  transition: max-height 0.5s ease-in-out;
  border-top: 1px solid #000;
}

/* 상단 헤더 (닫기 버튼) - 고정 */
.logHeader {
  display: flex;
  justify-content: flex-end;
  background: #444;
  position: sticky;
  top: 0;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  .logView:hover & {
    opacity: 1;
  }
}

/* 닫기 버튼 */
.closeButton {
  background: none;
  border: none;
  color: #cccccc;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .logView {
    height: 150px;
    left: 35px;
  }

  .logHeader {
    opacity: 1;
  }

  .closeButton {
    font-size: 16px;
  }
}