/* 🌟 전체 레이아웃 */
.home {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: stretch;
}

/* 📌 메인 컨텐츠 영역 */
.page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

/* 📌 서브 페이지 (카테고리 + 컨텐츠) */
.subPage {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 150px);
  overflow: hidden;
}

/* 📜 컨텐츠 영역 */
.contentsView {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: auto;
  background: #282c34;
  color: #abb2bf;
  padding: 1rem;
  font-size: 0.85rem;
  white-space: pre-wrap;
  word-break: break-word;
}

.highlight {
  background-color: yellow;
  color: black;
  font-weight: bold;
}
