.goToHome {
  position: fixed;
  right: 25px;
  bottom: 53vh !important;
  background: rgba(91, 91, 91, 0.7);
  color: white;
  border: none;
  padding: 0;
  width: 32px;
  height: 32px;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba(255, 255, 255, 0.9);
    color: black;
  }
}


////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
  .goToHome {
  }
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .goToHome {
    font-size: 1rem;
    bottom: 54vh !important;
  }
}