.scrollToTop {
  position: fixed;
  right: 25px;
  bottom: 2vh !important;
  background: rgba(91, 91, 91, 0.7);
  color: white;
  border: none;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;

  &.visible {
    opacity: 0.8;
    pointer-events: auto;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.9);
    color: black;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

////////////////////////////////////////////////////////////////////////////////
// tablet
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 1024px) {
  .scrollToTop {
    width: 35px;
    height: 35px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// mobile
////////////////////////////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  .scrollToTop {
    //bottom: 34vh !important;
    width: 30px;
    height: 30px;
  }
}